<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <listener>
        <listener-class>util.AppListener</listener-class>
    </listener>
    <dependency>
        <groupId>org.mindrot</groupId>
        <artifactId>jbcrypt</artifactId>
        <version>0.4</version>
    </dependency>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <filter>
        <filter-name>InvoiceFilter</filter-name>
        <filter-class>filter.InvoiceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AppointmentFilter</filter-name>
        <filter-class>filter.AppointmentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BlogFilter</filter-name>
        <filter-class>filter.BlogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ServiceFilter</filter-name>
        <filter-class>filter.ServiceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ScheduleFilter</filter-name>
        <filter-class>filter.ScheduleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ScheduleFilter</filter-name>
        <url-pattern>/loadstaffforschedule</url-pattern>
        <url-pattern>/saveSchedule</url-pattern>
        <url-pattern>/listDoctor-demo.jsp</url-pattern>
        <url-pattern>/createWorkingSchedule.jsp</url-pattern>
        <url-pattern>/professionalleave</url-pattern>
        <url-pattern>/professionalleave.jsp</url-pattern>
        <url-pattern>/viewPersonalSchedule.jsp</url-pattern>
        <url-pattern>/viewpersonalschedule</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServiceFilter</filter-name>
        <url-pattern>/loadmanage</url-pattern>
        <url-pattern>/manage_Service.jsp</url-pattern>
        <url-pattern>/addService</url-pattern>
        <url-pattern>/add_Service.jsp</url-pattern>
        <url-pattern>/loadupdate</url-pattern>
        <url-pattern>/updateservice</url-pattern>
        <url-pattern>/editstatus</url-pattern>
        <url-pattern>/update_Service.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BlogFilter</filter-name>
        <url-pattern>/homeblogseverlet</url-pattern>
        <url-pattern>/blog.jsp</url-pattern>
        <url-pattern>/addblog</url-pattern>
        <url-pattern>/add-blog.jsp</url-pattern>
        <url-pattern>/blogdetail.jsp</url-pattern>
        <url-pattern>/blog-detail.jsp</url-pattern>
        <url-pattern>/editblog</url-pattern>
        <url-pattern>/edit-blog.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AppointmentFilter</filter-name>
        <url-pattern>/edit_appointment</url-pattern>
        <url-pattern>/edit-appointment.jsp</url-pattern>
        <url-pattern>/manage_appointment</url-pattern>
        <url-pattern>/manage_appointment.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/rolePermission</url-pattern>
        <url-pattern>/roles-permissions.jsp</url-pattern>
        <url-pattern>/addRole</url-pattern>
        <url-pattern>/deleteRole</url-pattern>
        <url-pattern>/editRole</url-pattern>
        <url-pattern>/edit-role.jsp</url-pattern>
        <url-pattern>/add-role.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InvoiceFilter</filter-name>
        <url-pattern>/invoice</url-pattern>
        <url-pattern>/createInvoice</url-pattern>
        <url-pattern>/editInvoice</url-pattern>
        <url-pattern>/viewInvoice</url-pattern>
        <url-pattern>/invoice-view.jsp</url-pattern>
        <url-pattern>/edit-invoice.jsp</url-pattern>
        <url-pattern>/create-invoice.jsp</url-pattern>
        <url-pattern>/invoices.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/staff</url-pattern>
        <url-pattern>/addStaff</url-pattern>
        <url-pattern>/deleteStaff</url-pattern>
        <url-pattern>/staff.jsp</url-pattern>
        <url-pattern>/editStaff</url-pattern>
        <url-pattern>/add-staff.jsp</url-pattern>
        <url-pattern>/edit-staff.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>CustomerController.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBlog</servlet-name>
        <servlet-class>newsController.addBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>Appointment.Appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAppointment</servlet-name>
        <servlet-class>Appointment.ListAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQAServlet</servlet-name>
        <servlet-class>ProfessionalController.ViewQAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyQAServlet</servlet-name>
        <servlet-class>ProfessionalController.ReplyQAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQAServlet</servlet-name>
        <servlet-class>ProfessionalController.EditQAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQAServlet</servlet-name>
        <servlet-class>ProfessionalController.DeleteQAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMedicalRecord</servlet-name>
        <servlet-class>CustomerController.ViewMedicalRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMedicalRecord</servlet-name>
        <servlet-class>MedicalRecordController.GetMedicalRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMedical</servlet-name>
        <servlet-class>MedicalRecordController.SaveMedical</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestPassword</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAppointment</servlet-name>
        <url-pattern>/ListAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQAServlet</servlet-name>
        <url-pattern>/viewQA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyQAServlet</servlet-name>
        <url-pattern>/replyQA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQAServlet</servlet-name>
        <url-pattern>/editQA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQAServlet</servlet-name>
        <url-pattern>/deleteQA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMedicalRecord</servlet-name>
        <url-pattern>/viewMedicalRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMedicalRecord</servlet-name>
        <url-pattern>/getMedicalRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMedical</servlet-name>
        <url-pattern>/saveMedical</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServet</servlet-name>
        <servlet-class>Authentication.RegisterServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>CustomerController.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>CustomerController.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPassword</servlet-name>
        <servlet-class>CustomerController.RequestPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProfessionalServlet</servlet-name>
        <servlet-class>ProfessionalController.AddProfessionalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProfessionalServlet</servlet-name>
        <url-pattern>/AddProfessionalServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProfessionalServlet</servlet-name>
        <servlet-class>ProfessionalController.DeleteProfessionalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProfessionalServlet</servlet-name>
        <url-pattern>/DeleteProfessionalServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfessionalServlet</servlet-name>
        <servlet-class>ProfessionalController.EditProfessionalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfessionalServlet</servlet-name>
        <url-pattern>/EditProfessionalServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Authentication.ForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterGoogleServlet</servlet-name>
        <servlet-class>Authentication.RegisterGoogleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterGoogleServlet</servlet-name>
        <url-pattern>/RegisterGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>Authentication.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
</web-app>
